@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1250px;
    margin: auto;
}
.app {
  background: url("../images/Фон\ 1.png");
  background-size: cover;
  height: 100vh;
}
body {
  font-family: Ubuntu;
}

.nav {
  margin-bottom: 53px;
  color: #fff;
  display: flex;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* .nav:hover {
  background: rgba(180, 0, 230, .5);

  color: #f5y9;
cmyk, hsla -


pc 70% 
phone (3800*1200) 7mb - 20mb = 
limit internet
20mb
speed low

25% mobile first



} */
/* 16700000 colors */
/* 16700000 colors */
.flex-between {
     display: flex;
     align-items: center; 
     justify-content: space-between;
     width: 100%;
    }
.logo {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px; /* 100% */
}
.logo:hover{
  color: #3CB878;
}
.nav-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-main__icons svg{
  transition: fill 0.3s;
}
.nav-main__icons svg:hover #Vector{
  fill:rgb(34, 110,71)

}
.nav-main__icons {
    display: flex;
    gap: 27px;
}
.nav-main__icon {
    height: 24px;
}
.nav-main__line {
    width: 1px;
    height: 24px;
    background: grey;
}
.nav-main__link {
font-size: 14px;
font-weight: 400;
line-height: 14px;
}
.nav-main__link-login:hover{
  color: #3CB878;
}
.nav-main__link-signup:hover {
  color: #3CB878;
}
.decor-square{
  margin-top: 29px;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #3CB878;
}
main{
  position: relative;
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  width: 444px;
  height: 584px;
}
.form-header {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}
.form-header-signup {
  display: flex;
  width: 69px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  color: #434343;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; 
  margin-top: 31px;
  cursor: pointer;
}
.line__decoration{
  margin-right: 20px;
  width: 1px;
  height: 28px;
  opacity: 0.1;
  background:red;
}
.line__decoration2{
  width: 1px;
  height: 28px;
  opacity: 0.1;
  background: #2B0D09;
}
.facebook {
  display: block;
}
.icon_fb{
  margin-right: 13px;
  width: 24px;
  height: 24px;
}
.fb{
  display: flex;
}
.form-header__btn-fb {
  font-size: 16px;
  margin-top: 16px;
  width: 157px;
  height: 46px;
  background-color: #022263;
  cursor: pointer;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-right: 22px;
  padding-left: 11px;
 
}
.form-header__btn--google{
  width: 157px;
  height: 46px;
  background: #AB1F09;
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border-radius: 5px;
  margin-top: 16px;
  cursor: pointer;
  padding-right: 27px;
  padding-left: 11px;
  
}
.google{
  width: 30px;
  height: 19px;
}
.form-header-login {
  margin-top: 31px;
  display: flex;
  width: 39px;
  height: 14px;
  color: #3CB878;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  cursor: pointer;
  align-self: flex-end;
  padding-bottom: 4px;
  padding-bottom: 4px;


}
.box-2{
  display: flex ;
  flex-direction: column;
}
.form button {
  border: 0;
  outline: 0;
}
.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.separator-line {
  display: flex;
  background: #F2F2F2;
  width: 322px;
  height: 1px;
}
/* .separator-text::before{
  display: flex;
  width: 162px;
  height: 2px;
  background: #000;
}
.separator-text::after{
  display: flex;
  width: 162px;
  height: 2px;
  background: green;
} */

.separator-text {
  margin-top: -10px;
  background: white;
  width: 40px;
}

.form-body__inputs {
  display: block;
  
}
.form-header-login:hover {
    border-bottom: 2px solid #01813F;
}
.form-body__input {
  /* background: #FFF; */
/* box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52); */
  margin: 10px;
  width: 324px;
  height: 46px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  fill: #FFF;
  color: #434343;
  padding: 5px 20px;
  outline: 0!important;

}
.form-body__input:focus, 
.form-body__input:active, 
.form-body__input:hover {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}
/* :: - pseudoelements
: - pseudoclass */
.form-body__input::placeholder {
  color: #BEBEBE;

}
.form-terms {
  margin-left: 60px;
  margin-bottom: 20px;
}
.form-terms__checkbox {
  border: 1px solid #F2F2F2;
  background: rgba(0, 0, 0, 0.00);
  width: 20px;
  height: 20px;
  margin-right: 11px;
}
.form-terms__text {
display: flex;
width: 241px;
height: 20px;
color: #434343;
font-size: 14px;
font-weight: 400;
line-height: 14px;
margin-top: 5px;
margin-bottom: -20px;
}

.form-terms__link {
  padding-left: 5px;
  color: #01813F;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.form-terms__link:hover {
  border-bottom: 2px solid #01813F;
}

.btn-form {
  margin-top: px;
  margin-bottom: 38px;
  cursor: pointer;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  width: 324px;
  height: 46px;
  border-radius: 4px;
  background: #01813F;
}
main {
  position: relative;
  margin: auto;
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  display: flex;
  text-align: center;
  width: 444px;
  height: 584px;
  top: calc(50vh - 54px - 292px) 

}
.form-terms{
  margin-top: 2px;
  display: flex; 
}
label{
  cursor: pointer;

}
.form-terms__checkbox{
  display: block;
  vertical-align: sub;
}
.custom-checkbox{
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
  margin-right: 10px;
  vertical-align: sub;
  border: 1px solid #F2F2F2;
  background: rgba(0, 0, 0, 0.00);
  }
.custom-checkbox::before{
  content:"";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url('../images/Vector\ 1\ \(1\).svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in ;
}
.form-terms__checkbox:checked + .custom-checkbox::before{
  transform: translate(-50%, -50%) scale(1);
}
.form-terms__checkbox{
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}